# データ処理方法 -pandas-

## ライブラリのインポート

In [5]:
import pandas as pd

In [6]:
print(pd.__version__)

2.2.2

## データの読み込み
今回は3種類のデータを用意
* データ1
    * 100万行4列
* データ2
    * 50万行4列
    * データ1と同じ列
* 重みデータ
    * データ1とデータ2に存在する2つの列("group1", "group2")の各値に対する重み値を保存しているデータ

In [10]:
%%timeit
data1 = pd.read_csv("./sample_data/data1.csv")

645 ms ± 79 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## データ操作
* 列の操作
* 行の操作
* グループ化

In [18]:
# 列の抽出
# 正規表現で列を抽出
data1.filter(regex="^gro.*$", axis=1)
data1.loc[:, data1.columns.str.contains("^gro.*$")]

       group1 group2
0           C      X
1           C      Z
2           A      Z
3           C      Z
4           B      Z
...       ...    ...
999995      A      X
999996      B      Y
999997      A      Y
999998      A      Z
999999      B      Z

[1000000 rows x 2 columns]

In [20]:
# 行の抽出
# クエリの中で扱える列名に制約あり
data1.query("group1 == 'A'")
# データフレーム名を何度も指定する必要あり
data1.loc[data1["group1"] == "A"]

            id group1 group2     value
2            3      A      Z  0.299180
5            6      A      Z -0.407868
7            8      A      Y  0.717269
12          13      A      Z -0.299052
13          14      A      Z  0.623657
...        ...    ...    ...       ...
999982  999983      A      X -0.613297
999984  999985      A      Z  0.457641
999995  999996      A      X  0.503502
999997  999998      A      Y -0.157509
999998  999999      A      Z  0.811663

[322207 rows x 4 columns]

## 前処理

### 新しい列の作成

In [26]:
data1["group1_2"] = data1["group1"] + "_" + data1["group2"]
data1.assign(value_x2 = data1["value"]*2,)
data1

             id group1 group2     value    X group1_2
0             1      C      X  0.875341  C_X      C_X
1             2      C      Z -1.274481  C_Z      C_Z
2             3      A      Z  0.299180  A_Z      A_Z
3             4      C      Z -1.326054  C_Z      C_Z
4             5      B      Z  0.166297  B_Z      B_Z
...         ...    ...    ...       ...  ...      ...
999995   999996      A      X  0.503502  A_X      A_X
999996   999997      B      Y -1.031320  B_Y      B_Y
999997   999998      A      Y -0.157509  A_Y      A_Y
999998   999999      A      Z  0.811663  A_Z      A_Z
999999  1000000      B      Z  0.671705  B_Z      B_Z

[1000000 rows x 6 columns]

TypeError: NDFrame.where() takes from 2 to 3 positional arguments but 4 were given